body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:76px;
    top:11px;
    width:168px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:76px;
    top:39px;
    width:140px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_mouseOver {
    background-image: url('../Описание_БС_1_files/button_u2_mouseOver.png');
}

.u2_disabled {
    background-image: url('../Описание_БС_1_files/button_u2_disabled.png');
}

.u2_normal {
    background-image: url('../Описание_БС_1_files/button_u2_normal.png');
}

.u2_container {
    position:absolute;
    left:143px;
    top:187px;
    width:73px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:79px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:69px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Описание_БС_1_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:7px;
    top:39px;
    width:59px;
    height:57px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:59px;
    height:57px;
}

.u5 {
    position:absolute;
    left:2px;
    top:20px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:76px;
    top:115px;
    width:47px;
    height:26px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:76px;
    top:147px;
    width:67px;
    height:30px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

